.idea/**
.vscode
*.log
*.log~
*.py~
*.sublime-project
*.sublime-workspace
**/local_settings.py
**/files/*
.DS_Store
*.sqlite3
*.pyc
*.pyc~
*.lnk
venv/*
static
celerybeat-schedule
.env
.env.copy
notification/locale/*
django_errors.log
db.sql
.env.mac
.env.original
